

@font-face {
    font-family: 'fangtasiaregular';
    src: url('../fonts/fangtasia-webfont.woff2') format('woff2'),
         url('../fonts/fangtasia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikalight';
    src: url('../fonts/signika-light-webfont.woff2') format('woff2'),
         url('../fonts/signika-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
         url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikasemibold';
    src: url('../fonts/signika-semibold-webfont.woff2') format('woff2'),
         url('../fonts/signika-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'parkvaneregular';
    src: url('../fonts/parkvane-webfont.woff2') format('woff2'),
         url('../fonts/parkvane-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 60px;
}


h1.logo {
  text-align: center;
  color: #da00f8;
  font-family: 'parkvaneregular';
  font-size: 100px;
  margin-top: 12px;
  margin-bottom: 100px;
}

.product {
  float: left;
  width: 420px;
  height: 320px;
  position: relative;
}

.product img {
  display: block;
  height: 280px;
  margin: auto;
}

img {
  border-radius: 50%;
}

.caption {
  position: absolute;
  bottom: 260px;
  left: 290px;
  font-size: 35px;
  color: #f5de02;
  font-family: "fangtasiaregular";
  letter-spacing: 2px;
}

.text p {
  margin: 0 0 20px 0;
}

.special {
  color: #f5de02;
}

.text {
  float: right;
  text-align: justify;
  width: 500px;
  line-height: 1.4em;
  font-family: 'signikaregular';
  color: white;
  padding: 0 80px 0 60px;
  font-size: 18px;
}

input {
  border: none;
  height: 35px;
  width: 250px;
  border-radius: 5px;
  padding-left: 5px;
}

input:focus {
  outline-color: #da00f8;
}

input:invalid {
  color: grey;
}

input:valid {
color: black;
}

form::after {
  content: '"Life isn\'t like in the movies." -Cinema Paradiso';
  margin-top: 20px;
  font-style: italic;
  display: block;
  opacity: .7;
}

.quote {
  opacity: .7;
  padding-top: 30px;
}

.related li {
  float: left;
  display: inline;
  width: 20%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.related img {
  border: 10px solid #22f8fd;
  max-width: 100%;
}

ul.related {
  overflow: auto;
  clear: both;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}
